<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>M-A-R-S</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
        <h1>Mission to MARS</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get The Facts!</a></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Latest MARS News:</h2><hr>
                <h4> {{ mars.news_title}} </h3>
                </p> {{ mars.news_p }} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Featured MARS Image:</h2>
                <img src="{{ mars.featured_image_url }}" alt="Featured Image">  
            </div>
            <div class="col-md-4">
                <h2>The Truth About MARS:</h2>
                <div>
                    {{ mars.df_html }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>MARS Hemispheres:</h2><hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="demo" class="carousel slide col-8" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                  <li data-target="#demo" data-slide-to="3"></li>
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ mars.hemisphere_image_urls[0]['img_url'] }}" alt="Hemi 1" class="img-fluid">
                        <div class="carousel-caption">
                            <h3>{{ mars.hemisphere_image_urls[0]['title'] }}</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ mars.hemisphere_image_urls[1]['img_url'] }}" alt="Hemi 2" class="img-fluid">
                        <div class="carousel-caption">
                            <h3>{{ mars.hemisphere_image_urls[1]['title'] }}</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ mars.hemisphere_image_urls[2]['img_url'] }}" alt="Hemi 3" class="img-fluid">
                        <div class="carousel-caption">
                            <h3>{{ mars.hemisphere_image_urls[2]['title'] }}</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ mars.hemisphere_image_urls[3]['img_url'] }}" alt="Hemi 4" class="img-fluid">
                        <div class="carousel-caption">
                            <h3>{{ mars.hemisphere_image_urls[3]['title'] }}</h3>
                        </div>
                    </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
                
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>